.App {
  text-align: center;
}

.background-image {
  /* Set the background image and ensure it covers the entire container */
  background: url('./laluchaivory.png') no-repeat center center fixed;
  background-size: cover;

  /* Make the image fade */
  opacity: 0.5; /* Adjust opacity to make it more or less faded */

  /* Ensure the background spans the full size of the viewport */
  height: 100vh;
  width: 100vw;

  /* Additional styling to ensure the content container works properly */
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1; /* Ensure it stays in the background */
}

h1 {
  color: white; /* Choose a color that contrasts well with the background */
  text-shadow: 2px 2px 8px rgb(0, 0, 0); /* Horizontal, vertical offset and blur radius */
}

.lists {
  display: flex;
  flex-direction: row;
}


.text-box {
  margin: 30px;
  background-color: palegoldenrod;
  padding: 20px; /* Add some padding around the text */
  display: inline-block; /* Fit the background to the text size */
  color: #222;
  font-family: 'Times New Roman', Times, serif;

  font-size: 24px; /* Larger font size */
  font-weight: bolder; /* Bold font weight */
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.8); /* Horizontal, vertical offset and blur radius */
  width: fit-content;
  max-width: 600px;

  text-align: center;
  margin-left: auto;
  margin-right: auto;
  border-radius: 15px;
  border: 3px dashed gray;
}

.description {
  /* border-top: 3px dashed maroon; */
  /* padding-top: 10px; */
  margin-top: 10px;
  font-weight: normal;
  font-style: italic;
  font-size: 75%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #444;
  text-shadow: none;
}

.poetsen-one-regular {
  font-family: "Poetsen One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.button-ugly {
  font-family: "Poetsen One", sans-serif;
  font-weight: 400;
  font-style: normal;

  font-size: 200%;
  width: 600px;
  height: 200px;
  border-radius: 20px;
  font: 'Comic Sans';
  user-select: none;
}

.button {
  padding: 10px 20px;
  font-size: 16px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  border-radius: 5px;
  box-shadow: 0 9px #999;
  transition: all 0.3s ease 0s;
}

.button:hover {background-color: #3e8e41}

.button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
