.App {
  text-align: center;
}

.background-image {
  /* Set the background image and ensure it covers the entire container */
  background: url('./Goblin-Market-Train.png') no-repeat center center fixed;
  background-size: cover;

  /* Make the image fade */
  opacity: 0.75; /* Adjust opacity to make it more or less faded */

  /* Ensure the background spans the full size of the viewport */
  height: 100vh;
  width: 100vw;

  /* Additional styling to ensure the content container works properly */
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1; /* Ensure it stays in the background */
}

h1 {
  color: rgb(0, 0, 0);
  text-shadow: 100%; 
}

.lists {
  display: flex;
  flex-direction: row;
}

.text-box {
  margin: 30px;
  background-color: rgba(168, 255, 151, 0.712);
  padding: 20px;
  display: inline-block;
  color: #000000;
  font-family: 'Times New Roman', ;
  font-size: 24px;
  font-weight: bolder;
  width: fit-content;
  max-width: 600px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  border-radius: 15px;
  box-shadow: 5px 5px #000000ab;
  border: 5px solid rgb(0, 0, 0);
  position: relative;
  animation: float 5s ease-in-out infinite;
}

/ Additional classes for different delays /
.text-box.delay1 { animation-delay: 2s; }
.text-box.delay2 { animation-delay: 4s; }
.text-box.delay3 { animation-delay: 6s; }
.text-box.delay4 { animation-delay: 8s; }

@keyframes float {
  0%, 100% { transform: translate(0, 0); }
  25% { transform: translate(5px, 0); }
  50% { transform: translate(0, 5px); }
  75% { transform: translate(-5px, 0); }
}


.description {
  margin-top: 10px;
  font-weight: normal;
  font-style: italic;
  font-size: 75%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #050505;
  text-shadow: none; /* Ensuring no shadow here as well, even though it wasn't set before */
}

.poetsen-one-regular {
  font-family: "Poetsen One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.button-ugly {
  font-family: "Poetsen One", sans-serif;
  font-weight: 400;
  font-style: normal;

  font-size: 200%;
  width: 600px;
  height: 200px;
  border-radius: 20px;
  font: 'Comic Sans';
  user-select: none;
}

.button {
  padding: 10px 20px;
  font-size: 16px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  border-radius: 5px;
  box-shadow: 5px 5px #000000ab;
  transition: all 0.25s ease 0s;
}

.button:hover {background-color: #3e8e41}

.button:active {
  background-color: #3e8e41;
  box-shadow: 2.5px 2.5px #000000ab;
  transform: translateY(4px);
}
